.place__title {
  margin: 0;
  padding: 0;
  align-self: center;
  color: #fff;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
}

@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 90%;
    justify-self: center;
    font-size: 7vw;
    line-height: 1.12;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 10vw;
    line-height: 1.1;
  }
}