.photo-grid {
  width: calc(100% - 96px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
  gap: 16px;
  justify-content: center;
}

@media screen and (min-width: 1332px) {
  .photo-grid {
    width: 1237px;
  }  
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    width: 90%;
  } 
}

@media screen and (max-width: 425px) {
  .photo-grid {
    gap: 12px;
  }
}