.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 28px 48px 0;
}

@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1024px) {
  .header {
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 5% 5% 0;
  }
}

@media screen and (max-width: 425px) {
  
}