.place__paragraph {
  margin: 0 0 26px;
  color: #fff;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin-bottom: 25px; /* Можно удалить, так как погрешность в 1-2 px*/
  }
}

@media screen and (max-width: 425px) {
  
}