.intro {
  max-width: 690px;
  margin-left: 148px;
  align-self: flex-start;
}

@media screen and (max-width: 1280px) {
  
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 1024px) {
  .intro {
    margin: 0;
    max-width: 720px;
    align-self: center;
  } 
}

@media screen and (max-width: 768px) {
  .intro {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  
}